paises-historico {
  display: block;
  /*histórico*/

  .dados-pais__historico {
  }

  .dados-pais__historico-titulo-container {
    padding: 15px 15px;
    background-color: white;
    border-bottom: 1px solid #6bd1b4;
    transition: 0.4s;
    position: relative;
    cursor: pointer;
  }

  .dados-pais__historico-titulo-container--ativo {
    background-color: #42e695;
  }

  .dados-pais__historico-titulo-container:hover {
    background-color: #42e695;
  }

  .dados-pais__historico-titulo {
    font-size: 0.8em;
    margin: 0px;
    font-family: 'RobotoMedium', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    display: inline-block;
  }

  .dados-pais__historico-icone {
    position: absolute;
    right: 15px;
    color: #777;
  }

  .dados-pais__historico-paragrafos-container {
    padding: 15px;
    background-color: #f1f1f1;
    display: none;
    position: relative;
  }

  .dados-pais__historico-paragrafos-container--aberto {
    display: block;
  }

  .dados-pais__historico-degrade {
    display: none;
  }

  .dados-pais__historico-paragrafo {
    padding: 0;
    font-size: 0.9em;
    line-height: 1.8em;
    margin-top: 1em 0 0 0;
  }

  .dados-pais__historico-mais {
    display: none;
  }

  /*desktop*/
  @media only screen and (min-width: 568px) {
    /*histórico*/

    .dados-pais__historico-titulo {
      font-family: 'RobotoBlack', Helvetica, Arial, sans-serif;
      font-size: 1em;
    }

    .dados-pais__historico-titulo-container {
      padding: 15px 40px 10px 40px;
      background-color: #f1f1f1;
      border-bottom: none;
    }

    .dados-pais__historico-icone {
      display: none;
    }

    .dados-pais__historico-titulo-container:hover {
      background-color: #f1f1f1;
    }

    .dados-pais__historico-paragrafos-container {
      padding: 0px 40px;
      background-color: #f1f1f1;
      max-height: 200px;
      overflow: hidden;
      display: block;
    }

    .dados-pais__historico-paragrafos-container--aberto {
      max-height: unset;
    }

    .dados-pais__historico-degrade {
      display: block;
      height: 150px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(0deg, #f1f1f1 20%, transparent);
    }

    .dados-pais__historico-mais-container {
      text-align: center;
      background-color: #f1f1f1;
    }

    .dados-pais__historico-mais {
      display: inline-block;
      background: none;
      border: none;
      padding: 5px 0px;
    }

    .dados-pais__historico-mais-label {
      text-transform: uppercase;
      font-family: 'RobotoBold', Helvetica;
      font-size: 0.8em;
    }
  }
}
