/*mobile*/

.sintese{
	width: 280px;
	position: absolute;
	top: 32px;
	right: calc(50% - 140px);
	border: 1px solid #9f9f9f;
	background-color: rgba(255, 255, 255, 0.8);
}

.sintese__barra-titulo{
	background-color: #3f3f3f;
}

.sintese__titulo{
	font-size: 0.9em;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 32px;
    padding: 0 30px 0 10px;
}

.sintese__botao-fechar{
	position: absolute;
    top: 0;
    right: 0;
    line-height: 32px;
    padding: 0 10px;
}

.sintese__icone-fechar{
	color: #fff;
}

.sintese__info-container{
	padding: 10px;
}

.sintese__bandeira-imagem{
	width: 100%;
	height: auto;
}

.sintese__tabela{
	background-color: transparent;
	font-size:1.3rem;
	width: 100%;
}

.sintese__tabela-linha{
	border-bottom: 1px solid rgba(153,153,153,0.6);
}

.sintese__tabela-linha:last-child{
	border-bottom: none;
}

.sintese__tabela-nome{
	font-size: 0.9em;
	font-family: "RobotoMedium", Helvetica, Arial, sans-serif;
	font-weight: normal;
}

.sintese__tabela-valor{
	font-size: 0.9em;
	padding: 5px;
}

.sintese__leia-mais-link{
	display: block;
	text-align: center;
	padding: 5px;
	background-color: #3f3f3f;
	color: #fff;
	text-transform: uppercase;
	font-size: 0.8em;
}

paises-sintese.sintese-mapa {
	color: #4f4f4f;
}

/*desktop*/
@media only screen and (min-width : 568px) {
	.sintese{
		top: calc(50% - 250px);
		right: 80px;
	}
}