<header class="cabecalho gradiente">
  
  <!-- logo -->
  <h1 class="cabecalho__logo">
      <a routerLink="/mapa"><img src="assets/img/topo-logomobile.svg" class="cabecalho__logo-imagem"></a>
  </h1>

  <!-- campo de busca com lista de sugestões -->
  <div class="cabecalho__campo-busca-container" [class.altura2]="resultados && resultados.length>0">
      <div class="overlay" *ngIf="resultados && resultados.length>0" (click)="limpaResultados()"></div>
      <input type="search" class="cabecalho__campo-busca" autocomplete="off" (focus)="busca($event)" (input)="busca($event)">
      <i class="fa fa-search cabecalho__campo-busca-icone" aria-hidden="true"></i>
      <ul class="cabecalho__sugestao" *ngIf="resultados && resultados.length>0">
          <li *ngFor="let resultado of resultados" (click)="limpaResultados()">
              <a [routerLink]="'mapa/' + resultado.slug" class="cabecalho__sugestao-item">{{ resultado.nome[lang] }}</a>
          </li>
      </ul>
  </div>
  
  <!-- menu -->
  <div class="cabecalho__menu-container altura2" [class.altura2]="mostraMenu==true">
      <div class="overlay" *ngIf="mostraMenu==true" (click)="mostraMenu=false"></div>
      <button class="cabecalho__menu-button" (click)="mostraMenu=true">
          <!--<i class="fa fa-ellipsis-h cabecalho__menu-icone" aria-hidden="true"></i>-->
          <span class="cabecalho__menu-button-label">...</span>
      </button>
      <ul class="cabecalho__menu highlight-layer" *ngIf="mostraMenu">
          <li><a class="cabecalho__menu-item cabecalho__menu-item--separator" href="#">{{'barra-menu-principal__home'}}</a></li>
          <!--<li><a class="cabecalho__menu-item cabecalho__menu-item--separator" href="#">{{'barra-menu-principal__ods'}}</a></li>-->
          <li class="cabecalho__menu-item" [class.cabecalho__menu-item--highlight]="language=='pt'" (click)="changeLanguage('pt')">Português</li>
          <li class="cabecalho__menu-item" [class.cabecalho__menu-item--highlight]="language=='en'" (click)="changeLanguage('en')">English</li>
          <!--<li class="cabecalho__menu-item" [class.cabecalho__menu-item--highlight]="lang=='es'" (click)="mostraMenu=false;lang='es'">Español</li>-->
      </ul>
  </div>

</header>