<table class="sintese__tabela">
    <tbody>
        <tr class="sintese__tabela-linha">
            <th class="sintese__tabela-nome">{{ CAPITAL }}</th>
            <td class="sintese__tabela-valor">{{ valores.capital }}</td>
        </tr>
        <tr class="sintese__tabela-linha">
            <th class="sintese__tabela-nome">{{ EXTENSAO_TERRITORIAL }}</th>
            <td class="sintese__tabela-valor">{{ valores.extensao | resultado }}</td>
        </tr>
        <tr class="sintese__tabela-linha">
            <th class="sintese__tabela-nome">{{ IDIOMA }}</th>
            <td class="sintese__tabela-valor">{{ valores.idioma }}</td>
        </tr>
        <tr class="sintese__tabela-linha">
            <th class="sintese__tabela-nome">{{ LOCALIZACAO }}</th>
            <td class="sintese__tabela-valor">{{ valores.localizacao }}</td>
        </tr>
        <tr class="sintese__tabela-linha">
            <th class="sintese__tabela-nome">{{ MOEDA }}</th>
            <td class="sintese__tabela-valor">{{ valores.moeda }}</td>
        </tr>
    </tbody>
</table>