:host {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,0.75);
}

.home__texto{
    color:#fff;
    font-size: 1.1em;
    line-height: 2em;
    text-align: center;
    margin: 30px 50px;
}

.home__botao{
    display: inline-block;
    border: 1px solid white;
    border-radius: 20px;
    padding: 3px 10px;
    color: white;
    font-size: 1.2em;
}

/*desktop*/
@media only screen and (min-width : 568px) {

    .home__image{
        width: 230px;
        height: auto;
    }

    .home__texto{
        max-width: 600px;
        margin: 30px auto;
        padding: 0 30px;
    }

}